<style>
body {
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
}
#templates {
  font-family: 'curier new';
}
#templates ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#templates li {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.buttons {
  white-space: nowrap;
}
</style>
<body>
  <div class="buttons">
    <button class="devmode" data-controller="cokupic_elohivoszer.php">cokupic</button>
    <button class="devmode" data-controller="oferia_dev.php">oferia</button>
  </div>
  <div id="templates" style="display: none;"></div>
  <script src="popup.js"></script>
</body>
